<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yddc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network"
        android:supportsRtl="true"
        android:theme="@style/Theme.YDDC">
        <activity android:name=".ui.pages.process.ProcessActivity"></activity>
        <activity android:name=".ui.pages.process.TotalProcessActivity" />
        <activity android:name=".ui.pages.login.LoginActivity" />
        <activity android:name=".ui.pages.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>